In [1]:
import requests
import pandas as pd

In [2]:
QUERY = "machine learning"
LIMIT = 100

In [3]:
url = f"https://openlibrary.org/search.json?q={QUERY}&limit={LIMIT}"

In [4]:
response = requests.get(url)
data = response.json()

In [5]:
books = []

In [6]:
for doc in data["docs"]:
    books.append({
        "title": doc.get("title"),
        "author": ", ".join(doc.get("author_name", [])),
        "first_publish_year": doc.get("first_publish_year"),
        "edition_count": doc.get("edition_count"),
        "isbn": doc.get("isbn", [None])[0],
        "subject": ", ".join(doc.get("subject", [])[:5])
    })

In [7]:
df = pd.DataFrame(books)

In [8]:
df.head()

,title,author,first_publish_year,edition_count,isbn,subject
0,Why Machines Learn,Anil Ananthaswamy,2024,4,None,
1,The Time Machine,H. G. Wells,1895,1146,None,
2,Machine learning,"Kevin P. Murphy, Kevin P. Murphy",2012,4,None,
3,Introduction to Machine Learning with Python,"Andreas C. Mueller, Sarah Guido",2016,2,None,
4,Machine learning,Ethem Alpaydin,2016,4,None,

In [9]:
df.to_csv("books_dataset.csv", index=False)